@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Mochiy+Pop+P+One&family=Montserrat+Subrayada:wght@700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #1a1a42;
    color: rgba(247, 247, 247, 0.781);
}

.contenedor{
    display: flex;
    width: 350px;
    height: 380px;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 65px;
    background: #1a1a42;
    box-shadow:  -15px 15px 32px #0e0e24,
             15px -15px 32px #262660;
}

#valor{
    font-size: 6rem;
}

.titulo{
    font-size: 2rem;
    margin: 15px;
}

.sub{
    font-size: 0.7rem;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.062);
}
.botones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 8px;
    width: 70px;
    height: 35px;
    cursor: pointer;
    font-size: 2rem;
    background: white;
    border: none;
    border-radius: 5px;
}

.reset{
    width: 45px;
    height: 35px;
}